.cd {
    background-color: rgb(216, 189, 242);
    color: rgb(58, 8, 104);
    padding: 20;
}

.h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}